h1{
    text-shadow: -20px 23px 9px rgba(0,0,0,0.6);
    color: rgb(16, 48, 68);
    font-family: 'Coming Soon', cursive;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    background-color: aquamarine;
}
h2{
    color: rgb(85, 118, 167);
    font-style: oblique;
    line-height: 10px;
    text-align: center;
}
.iconins{
    font-size: 60px;
}
h3{
    color: rgb(56, 59, 241);
    font-family: monospace;
    font-size: 25px;
}
.listas{
    color: blueviolet;
    font-family: monospace;
    font-size: 20px;
    line-height: 5px;
}

p{
   font-family: 'Coming Soon', cursive;
   font-weight: bold;
   font-size: 30px;
   line-height: 50px;
}
#puntos{

    font-size: 60px;
    text-align: center;
}
img{
    margin-left:650px;
    width: 600px;
}
#cocinar{
    background-color: rgb(212, 108, 108);
    width: 400px;
    height: auto;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 400px;
}
#Ros{
    background-color: rgb(212, 108, 108);
    width: 400px;
    height: auto;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;

}
#no{
    background-color: rgb(212, 108, 108);
    width: 400px;
    height: auto;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 800px;

}
.opc{
    line-height: 30px;
    font-size: 20px;
    font-family: monospace;
}
#formu{
    font-size: 20px;
    line-height: 5px;
    font-family: monospace;
}

.caja{
    column-rule: 2px solid olivedrab;
    margin: 30px;
    box-shadow: 10px 10px 10px blue;
    border-radius: 20px;
    column-count: 2;
    column-gap: 40px;
    background: rgb(0,212,255);
    background: radial-gradient(circle, rgba(0,212,255,1) 87%, rgba(166,194,201,1) 98%);
}
#COL{
    font-family: 'Amatic SC', cursive;
    text-shadow: 4px -11px 8px rgba(0,0,0,0.6);
    color: rgb(29, 16, 68);
    font-size: 60px;
}